.marquee {
  max-width: 1800px;
  overflow: hidden;
  margin: 0 auto;
  --speed: 25s;
  --item-width: 120px;
  --item-gap: 5px;
  --single-slide-speed: calc(var(--speed) / var(--num-items));
  --item-width-plus-gap: calc(var(--item-width) + var(--item-gap));
  --track-width: calc(var(--item-width-plus-gap) * calc(var(--num-items) - 1));
}

.marquee-track {
  container-type: inline-size;
  display: grid;
  grid-template-columns: var(--track-width) [track] 0px [resting];
  width: max-content;
}

.marquee-item {
  width: var(--item-width);
  aspect-ratio: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.3rem;
  padding: 0rem;
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  grid-area: resting;
  animation: marquee-move var(--speed) linear infinite
    var(--direction, forwards);
  animation-delay: calc(var(--single-slide-speed) * var(--item-position) * -1);
}

.marquee-item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 0.3rem;
}

.fadeout-horizontal {
  mask-image: linear-gradient(
    to right,
    transparent,
    black 15rem,
    black calc(100% - 15rem),
    transparent
  );
}

@keyframes marquee-move {
  to {
    transform: translateX(calc(-100cqw - 100%));
  }
}

@keyframes marque-move-text {
  to {
    transform: translateX(-50%);
  }
}
